*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

.container{
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
    background: url(./pictures/fond.jpg);
}

.dino{
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 36px;
    left: 20px;
}

.dino img{
    height: 70px;
    width: 70px;
}

.dinoActive{
    animation: animDino 0.6s linear infinite;
}

@keyframes animDino{
    0%{
        bottom: 26px;
    }
    45%,55%{
        bottom: 168px;
    }
}


.cloud{
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 200px;
    right: -20px;
}

.cloud img{
    height: 80px;
    width: 125px;
}

.cloudActive{
    animation: animCloud 6s linear infinite;
}

@keyframes animCloud{
    0%{
        right: -20px;
    }
    100%{
        right: 100%;
    }
}

.obstacle{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 46px;
    right: 20px;
}
.obstacle img{
    height: 70px;
    width: 70px;
}

.obstacleActive{
    animation: animObstacle 3s linear infinite;
}

@keyframes animObstacle{
    0%{
        right: -20px;
    }
    100%{
        right: 100%;
    }
}

.score{
    height: auto;
    width: auto;
    position: absolute;
    top:  20px;
    right: 20px;
}

.gameOver{
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(51% - 40px);
    height: 80px;
    width: 362px;
    color: gray;

}
